a-scene {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 9999;
}

body, ion-content {
  --background: transparent;
  background: transparent !important;
  margin: 0;
  padding: 0;
}
